.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    margin-left: 20%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}
